{% load user_filters %}
{% if user.is_authenticated %}
  <div class="card my-4">
    <h5 class="card-header">Добавить комментарий:</h5>
    <div class="card-body">
      <form method="post" action="{% url 'posts:add_comment' post.id %}">
      {% csrf_token %}
        {% for field in form %}
          <div class="form-group mb-2">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field|addclass:'form-control' }}
            {% if field.help_text %}
              <small
                  id="{{ field.id_for_label }}-help"
                  class="text-muted"
              >
                {{ field.help_text }}
              </small>
            {% endif %}
          </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Отправить</button>
      </form>
    </div>
  </div>
{% endif %}
{% for comment in page_obj %}
  <div class="media mb-4">
    <div class="media-body">
      <h5 class="mt-0">
        <a href="{% url 'posts:profile' comment.author %}">
          {{ comment.author.get_full_name|if_empty:comment.author }}
        </a>
      </h5>
      <p>{{ comment.text }}</p>
    </div>
  </div>
{% endfor %}
